body {
  background-color: #c3d5d8;
  color: #022125;
  font-family: Vollkorn, serif;
}

h1 {
  font-weight: 800;
}

a {
  font-weight: 600;
  color: #08545e;
  /* color: #e8f3f2; */
}

a:visited {
  color: auto;
}

pre {
  border-radius: 4px;
}
