body {
  background-color: var(--background-color);
  color: var(-text-color-primary);
  font-family: Vollkorn, serif;
}

a {
  font-weight: 600;
  color: var(--text-color-action);
}

a:visited {
  color: auto;
}

pre {
  border-radius: var(--border-radius);
}

hr {
  border: none;
  border-bottom: 1px var(--element-color) solid;
}

code:not([class*="language-"]) {
  background: var(--highlight-color);
  padding: 4px;
  border-radius: var(--border-radius);
  font-weight: 600;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

blockquote {
  padding: 4px 24px;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  background-color: var(--foreground-color);
}
