* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

html {
  font-size: 1.1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

small {
  font-size: 0.8rem;
}

ul,
ol {
  padding-left: 1.2em;
}

li {
  margin: 0;
}

.space {
  margin-top: 16px;
  margin-bottom: 16px;
}

.nospace {
  margin-top: 0px;
  margin-bottom: 0px;
}

.nospace-bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}
