* {
  margin: 0;
  padding: 0;
  font-size: 1.05rem;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

h1 {
  font-size: 3em;
  font-weight: 800;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
}

code {
  font-size: 0.85em;
}

ul,
ol {
  padding-left: 1.2em;
}

li > * {
  margin: 0;
}
