.app * {
  margin: 0;
  padding: 0;
}

.app {
  font-size: 1.1rem;
  line-height: 1.65;
}

.app h1,
.app h2,
.app h3,
.app h4,
.app h5,
.app h6,
.app p,
.app hr,
.app pre {
  margin-top: 16px;
  margin-bottom: 16px;
}

.app h1 {
  font-size: 3rem;
  font-weight: 800;
}

.app h2 {
  font-size: 2.25rem;
}

.app h3 {
  font-size: 1.5rem;
}

.app h4 {
  font-size: 1.25rem;
}

.app small {
  font-size: 0.8rem;
}

.app ul,
.app ol {
  padding-left: 1.2em;
}

.app li {
  margin: 0;
}

.app .space {
  margin-top: 16px;
  margin-bottom: 16px;
}

.app .nospace {
  margin-top: 0px;
  margin-bottom: 0px;
}

.app .nospace-bottom {
  margin-top: 0px;
  margin-bottom: 0px;
}
